<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Dodoi</title>
    <link rel="stylesheet" href="static/css/editar.css">
</head>
<body>

    <header>
        <div class="cabecalho">
            <h1>DOG DODOI</h1>
            <a href="#">editar</a>
        </div>
    </header>
    <main>
        <div class="editar">
        <h2>editar veterinario</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action="/editar_agendamento" method="post">
            <label for="nome">nome:</label>
            <input type="text" id="nome" name="nome" value="{{ agendamento[1] }}">

            <label for="email">email:</label>
            <input type="text" id="email" name="email" value="{{ agendamento[2] }}">

            <label for="telefone">telefone:</label>
            <input type="number" id="telefone" name="telefone" value="{{ agendamento[3] }}">

             <label for="horario">horario:</label>
            <input type="number" id="horario" name="horario" value="{{ agendamento[4] }}">

             <label for="observacoes">observacoes:</label>
            <input type="text" id="observacoes" name="observacoes" value="{{ agendamento[5] }}">

            <button type="submit">Salvar Alterações</button>
        </form>
    </main>


    <footer>
        <div class="rodape">
            <div>
                <p><strong>CONTATO</strong><br>
                18 99645-1901<br>
                dogdodoi@gmail.com</p>
            </div>
            <div>
                <p><strong>ENDEREÇO</strong><br>
                AV. BRASILIA 1001 - ARAÇATUBA</p>
            </div>
            <div>
                <p><strong>DOG DODOI</strong><br>
                ESPERAMOS POR VOCÊ E SEU AMIGO</p>
            </div>
        </div>
        <p class="frase">Copyright© 2024 dogdodoi - Todos os direitos reservados</p>
    </footer>
</body>
</html>